/*
$couleur__background--body: rgb(171, 236, 147);

$couleur__background--h1: rgba(81, 108, 190, 0.971);
$couleur__background--h2h3h4: rgb(16, 12, 114);

$couleur__background--code: #bbb;
*/

$couleur__background--body: rgb(173, 195, 215);
/* ----------------------------------- Couleur d'arrière plan titres */
$couleur__background--h1: rgba(233, 237, 248, 0.971);
$couleur__background--h2h3h4: rgb(215, 215, 231);
$couleur__background--h5h6: rgb(154, 153, 172);
$couleur__background--code: rgb(213, 208, 230);

/* --------------------------------------- couleur   color :  */
$couleur__h1: rgba(25, 41, 88, 0.971);
$couleur__h2h3h4: rgb(16, 12, 114);
$couleur__h5h6: rgb(16, 12, 114);
$couleur__code: rgb(14, 13, 17);
/* --------------------- Couleurs des liens du titre principal*/
$couleur__link__site__title: rgb(8, 52, 117);
$couleur__link__site__title--visited: rgb(11, 52, 100);
$couleur__link__site__title--hover: rgb(38, 74, 114);
/* --------------------- Couleurs des liens */
$couleur__link: rgb(69, 127, 214);
$couleur__link--visited: rgb(35, 125, 228);
$couleur__link--hover: rgb(32, 96, 138);

$couleur__link__aside: rgb(14, 27, 45);
$couleur__link__aside--visited: rgb(12, 63, 76);
$couleur__link__aside--hover: rgb(76, 122, 165);

/* ----------------------------- couleur bouton */
$color__border-button: #999;
$color__background-button: #bbb;
$color__border-button-hover: #aaa;
$color__border-button-focus: #888;

/* ----------------------------- couleur fields input text */
$color__text-input: #444;
$color__border-input: #777;
$color__text-input-focus: #333;

/* ------------------------------ couleur hr (ligne horizontale) */
$color__background-hr: rgb(161, 180, 213);

/* ---------  simple */

$color__background-pre: rgb(158, 213, 196);
$color__border-abbr: #aaa;
$color__background-ins: #bbb;
