$police__main: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
$police__titre-principal: Impact, Haettenschweiler, "Arial Narrow Bold",
  sans-serif;
$police__titre-secondaire: Verdana, Geneva, Tahoma, sans-serif;

/* ------------------------  simple */
$font__pre: "Courier New", Courier, monospace;
$font__line-height-pre: 0.8em;
$font__code: "Courier New", Courier, monospace;
