.menu-primaire-container {
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 4rem;
  flex: 1;

  // nav

  .menu {
    //ul
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu-item {
    //li
  }
  a {
    text-decoration: none;
    background-color: #000;
    color: #fff;
    padding: 10px;
  }
  a:hover {
    background-color: #555;
  }
}

/* transformation en CSS */
.menu-primaire-container {
}
.menu-primaire-container .menu {
}
.menu-primaire-container .menu-item {
}
.menu-primaire-container a {
}
