.menu__evenement {
}

.menu__evenement .menu {
  // ul
  list-style-type: none;
  display: flex;
  justify-content: space-around;

  border: 1px solid #bbb;
}

.menu__evenement .menu-item {
  width: 25%;
}

.menu__evenement .menu-item a {
  text-decoration: none;
}
.menu__evenement .menu-item a:hover {
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.evenement__porte {
  background-color: aquamarine;
}
.evenement__projet {
  background-color: rgb(127, 153, 255);
}
.evenement__stage {
  background-color: rgb(255, 255, 127);
}

.menu__item__icone {
  width: 50px;
  height: 50px;
  border: 1px solid #aaa;
}

.evenement__porte .menu__item__icone {
}

.evenement__projet .menu__item__icone {
}

.evenement__stage .menu__item__icone {
}
