.site__menu {
  position: relative;
}
.chk-burger {
  display: none;
}

.chk-burger:checked ~ .burger {
  transform: rotate(90deg);
}

.chk-burger:checked ~ .menu__aside {
  transform: translateX(0);
}
.burger {
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 10px;
  left: 10px;
  transform: rotate(0deg);
  transition: transform 0.5s;
  font-size: 2rem;
  color: #fff;
}

.menu__aside {
  display: flex;
  position: absolute;
  width: 100vw;
  top: 70px;
  transform: translateX(-100vw);
  transition: transform 0.5s;
  background-color: #000;
  @media screen and (min-width: 700px) {
    position: static;
    transform: translateX(0);
    /* important de revenir à width 100%  pour remplacer le 100vw*/
    width: 100%;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menu-item {
  }

  a {
    text-decoration: none;
    padding: 5px 3px;
  }
}
/*
.menu__aside{}
.menu__aside .menu {}
.menu__aside .menu-item {}
.menu__aside a {}
*/
