a {
  color: $couleur__link;

  &:visited {
    color: $couleur__link--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
/* ------------------------------------------------  .menu__aside  */
.menu__aside a {
  color: $couleur__link__aside;

  &:visited {
    color: $couleur__link__aside--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link__aside--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
