a {
  color: $couleur__link;

  &:visited {
    color: $couleur__link--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
