a {
  color: $couleur__link;

  &:visited {
    color: $couleur__link--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
/* ------------------------------------------------  .menu__aside  */
.menu__aside a {
  color: $couleur__link__aside;

  &:visited {
    color: $couleur__link__aside--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link__aside--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
/* ---------------------------------------------------------- Titre principal du site */
.site__title a {
  color: $couleur__link__site__title;

  &:visited {
    color: $couleur__link__site__title--visited;
  }

  &:hover,
  &:focus,
  &:active {
    color: $couleur__link__site__title--hover;
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
