small,
pre,
code {
  background-color: $couleur__background--code;
  margin: 10px;
}
pre {
  font-family: "Courier New", Courier, monospace;
}
code {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
span {
  margin: 0 10px;
}
