.site__header {
  grid-area: header;
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget__area-1 {
  grid-area: sidebar-1;
}
.widget__area-2 {
  grid-area: sidebar-2;
}

.site__footer {
  grid-area: footer;
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "sidebar-1"
    "header"
    "main"
    "sidebar-2"
    "footer";

  @media screen and (min-width: 700px) {
    grid-template-columns: ($size__site-sidebar) auto;
    grid-template-areas:
      "header header"
      "sidebar-1 main"
      "sidebar-2 main"
      "footer footer";
  }
}

// @import "no-sidebar";
