.site__header {
  grid-area: header;
  background-color: #ddd;
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
  background-color: #ccc;
}

.site__menu {
  grid-area: menu;
}
.site__sidebar {
  grid-area: sidebar;
}

.site__footer {
  grid-area: footer;
  background-color: #000;
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "menu"
    "header"
    "main"
    "sidebar"
    "footer";

  @media screen and (min-width: 700px) {
    grid-template-columns: ($size__site-sidebar) auto;
    grid-template-areas:
      "header header"
      "menu main"
      "sidebar main"
      ". main"
      "footer footer";
  }
}

// @import "no-sidebar";
