.site__header {
  grid-area: header;
}

.site__main {
  grid-area: main;
  overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
}

.widget__area {
  grid-area: sidebar;
}

.site__footer {
  grid-area: footer;
}

.site {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "sidebar"
    "header"
    "main"
    "footer";

  @media screen and (min-width: 700px) {
    grid-template-columns: ($size__site-sidebar) auto;
    grid-template-areas:
      "header header"
      "sidebar main"
      "footer footer";
  }
}

// @import "no-sidebar";
